.singlePage {
	display: block;
	position: relative;
	padding: 0 0 120px 0;
}

.singlePage__img {
	position: absolute;
	height: 200px;
	width: 300px;
	/* object-fit: cover; */
	object-fit: contain;
	background-color: black;
	border-radius: 8px;
}

.singlePage__title {
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
	font-size: 36px;
}

.singlePage__content {
	padding-top: 230px;
}

.singlePage__back {
	font-weight: 500;
    font-size: 22px;
	text-decoration: underline;
}