body {
	position: relative;
	min-height: 100vh;
} 

.main {
	margin: 10px auto 10px auto;
	max-width: 1170px;
}

a {
	text-decoration: none;
}

@media (max-width: 1440px) {
	.header {
		max-width: 970px;
	}
	.main {
		margin: 0 auto 0 auto;
		max-width: 970px;
	}
}

@media (max-width: 1024px) {
	.header {
		max-width: 710px;
	}
	.main {
		margin: 5px auto 0 auto;
		max-width: 710px;
	}
}

@media (max-width: 768px) {
	.header {
		max-width: 400px;
		padding-top: 10px;
		height: 70px;
		align-items: start;
	}
	.header .header__logo {
		margin-top: 10px;
		width: 70px;
		font-size: 12px;
	}
	.header .header__rightSide {
		margin-top: 10px;
		flex-direction: column-reverse;
		align-items: end;
	}
	.header .header__search {
		width: 100%;
		margin: 16px 0 0 0;
	}
	.header .header__input {
		width: 156px;
	}
	.main {
		max-width: 400px;
	}
	.main .topicItem {
		height: 200px;
	}
	.main .newsItem {
		height: 270px;
	}
	.main .latestNews{
		padding: 65px 0 120px 0;
	}
	.main .hotTopics {
		min-height: 270px;
	}
	.hotTopics .hotTopics__title  {
		font-size: 30px;
		margin: 10px;
		text-align: center;
	}
	.topicItem__left .topicItem__title {
		font-size: 20px;
	}
	.topicItem__text {
		display: none;
	}
	.topicItem__left {
		width: 400px;
		height: 200px;
	}
	.topicItem {
		height: 225px;
	}
	.latestNews .latestNews__title {
		font-size: 30px;
		text-align: center;
	}
	
	.latestNews .latestNews__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
	}
	.newsItem .newsItem__title {
		margin: 176px 0 5px 0;
	}
	
}