.sideMenu {
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.7);
	width: 350px;
	height: 100vh;
	color:#F8F8F8;
	margin: 0;
	padding-top: 40px;
	line-height: 30px;
	font-weight: 500;
    font-size: 22px;
}

.sideMenu__title {
	position: absolute;
	top: 9px;
	left: 20%;
}

.sideMenu_hide {
	left: -100%;
}

.sideMenu__item {
	cursor: pointer;
	list-style-type: disclosure-closed;
}

.sideMenu__item:hover {
	text-decoration: underline;
}

.sideMenu__item_current {
	color: orange;
}